@page
@{
    ViewData["TItle"] = "Page not found";
}

<div class="text-center">
    <h1 class="display-4">Oops, page not found</h1>
    <p>Return to the main page : <a asp-page="/Index" class="link-dark">Main page</a>.</p>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />