@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem est dolores cupiditate nihil,
        culpa repellat harum! At officia corrupti quidem numquam aperiam, ipsa illum ducimus? Odit corporis
        veniam magnam quidem voluptates natus? Quidem, delectus! Repudiandae ullam quasi vel nemo, minima atque
        doloribus dolorem quaerat. Ad libero commodi sunt laudantium nobis fugiat! Est ipsam voluptates libero.
        Debitis cum accusamus nulla atque iure veniam hic sit enim cumque nemo doloribus fuga temporibus sint repellat
        unde ad, quas aperiam sequi minima sunt rerum in vitae alias. Asperiores totam non nesciunt quod delectus vero
        modi earum dolor. Adipisci voluptates dolorem corporis, quasi quod aliquid delectus ab voluptas, magni blanditiis
        beatae. Officiis nobis tempora labore ducimus ad quod consequatur! Ratione dicta maxime culpa possimus error vel
        dolorum corrupti delectus perspiciatis soluta tenetur numquam voluptatibus, blanditiis quasi reiciendis vitae.
        Dolorem nobis sequi asperiores eligendi magni, perferendis quibusdam id dolores in culpa, illo adipisci, aut temporibus
        doloremque nisi fugiat neque impedit nulla optio eum earum laboriosam rem saepe nam. Magnam consequatur sint esse quod!
        Maiores dicta vitae voluptates non blanditiis suscipit et incidunt. Magni esse aut velit ratione? Aperiam perferendis
        minima labore sit quia ipsum tenetur veritatis! Quidem ab earum eius, consequuntur, officia exercitationem ut modi ipsam
        tenetur blanditiis temporibus perferendis soluta. Delectus impedit porro deleniti illo provident nihil dolores ab
        perspiciatis voluptatibus nobis sit, ipsum sequi expedita ducimus in similique doloribus mollitia iusto fugit minus
        nisi quis recusandae? Atque eveniet nesciunt tenetur nihil sed in voluptatem, rem ipsa laborum iste, commodi totam
        dicta veritatis amet eum, quidem sequi voluptas? Dolor, magni soluta eius sit pariatur nostrum aperiam facere, earum,
        dignissimos iste obcaecati ducimus alias ea laboriosam natus exercitationem nam molestias porro saepe mollitia quod.
        Cumque perspiciatis totam quos! Porro impedit fugiat mollitia quod! Eum tenetur dolores doloremque! Necessitatibus
        tempora eius vero cum libero quia eaque non.
    </p>

    <a class="link-dark" asp-page="/Index">Go to the main</a>

    <br />
    <br />
    <br />
    <br />
</div>
