@page
@model Arts.Pages.Users.IndexModel
@{
    ViewData["Title"] = "List of user";
}

<br />
<h2>List of clients</h2>
<a class="btn btn-primary btn-sm" href='/Clients/Create'>New Client</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Userame</th>
            <th>Useremail</th>
            <th>Userpassword</th>
            <th>IsAdmin</th>
            <th>Create At</th>
        </tr>
    </thead>
    <tbody>
        
        
    </tbody>
</table>